<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Busca tu Market Mas cercano</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="custom-title ion-text-center">JuMarket</ion-title>
    </ion-toolbar>
  </ion-header>  

  <div class="ion-padding">
    <h1>Buscas un Negocio?</h1>
   
    <img
      alt="Imagen"
      src=""
    />
    <ion-card class="ion-text">

      <ion-searchbar animated="true" placeholder="Busca tu negocio"></ion-searchbar>
      
      
        <ion-button expand="block" routerLink="/home">Agregar Negocio</ion-button>
        <ion-button fill="clear" class="ion-text-center" >Volver</ion-button>     
      
    </ion-card>
    
   
        
     
    
  </div>
</ion-content>